<div class="footer row">
  <div class="element main col-md-4">
    <div></div>
    <div>
      © 2018 Giovanni Silvestri
    </div>
    <div class="description">
      I'm a software enginner with a passion for the financial industry. I focus on OpenSource software and how can make application
      development easier, better, and accessible to more people. I like to work in tight-knit team spread across the globe,
      and I'm proud of my flexible and remote-first work culture.
    </div>
  </div>
  <div class="col-md-4">
  </div>
  <div class="element company col-md-4 text-right">
    <div class="title">Home Page</div>
    <div>
      <a href="/about">About</a>
    </div>
    <div>
      <a href="/projects">Projects</a>
    </div>
    <div>
      <a href="/culture">Culture</a>
    </div>
    <div>
      <a href="/contact">Contact</a>
    </div>
    <div>
      <a target="_blank" class="icon" href="https://www.linkedin.com/in/zackko">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a target="_blank" class="icon icon-github" href="https://github.com/gsilvestri"></a>
      <a target="_blank" class="icon icon-facebook" href="https://www.facebook.com/giovanni.l.silvestri"></a>
      <a target="_blank" class="icon icon-twitter" href="https://twitter.com/BitNowIT"></a>
      <a target="_blank" class="icon" href="https://medium.com/@bitnow">
        <i class="fab fa-medium-m"></i>
      </a>
      <a target="_blank" class="icon" href="https://gsilvestri9.wordpress.com/">
        <i class="fab fa-wordpress-simple"></i>
      </a>
      <a target="_blank" class="icon" href="https://t.me/bitnow">
        <i class="fab fa-telegram-plane"></i>
      </a>
      <a target="_blank" class="icon icon-email" href="mailto:gsit80@gmail.com"></a>
    </div>
  </div>
</div>