<div id="navbar" class="navbar {{page}} row">
  <div class="col-md-4">
    <a class="logo" href="/"></a>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-6">
    <a class="link right team" href="/contact">Contact</a>
    <a class="link right jobs" href="/projects">Projects</a>
    <a class="link right culture" href="/services">Services</a>
    <a class="link right about" href="/about">About</a>
  </div>
</div>

<script>
  window.addEventListener('scroll', () => {
    var top = (window.pageYOffset || document.documentElement.scrollTop) - (document.documentElement.clientTop || 0);
    document.getElementById('navbar').className = `navbar {{page}} ${!!top ? ' scrolled' : ''}`;
  });

</script>